<h1><%= @post.title %></h1>
<p><%= @post.description %></p>
<% if @post.user_id == session[:id] %>
    <a href="<%= edit_post_path(@post) %>" class="btn btn-primary">Update</a>
    <%= button_to "destroy", @post, :method => :delete, class: "btn btn-danger" %>
<% end %>
<div class="form-group">
    <%= form_tag comments_path do %>
        <%= text_area_tag(:content, nil, placeholder: "Comment...", class: "form-control") %>
        <%= hidden_field_tag :post_id, @post.id %>
        <%= submit_tag "comment", class: "btn btn-success btn-block" %>
    <% end %>
    </div>
    <% @post.comments.each do |comment|  %>
            <div class="card md-12 mb-3">
        <div class="card-body">
            <h5 class="card-title"><%= comment.user.name %></h5>
            <p class="card-text"><%= comment.content %></p>
            <% if comment.user_id == session[:id] %>
                <%= button_to "destroy", comment, :method => :delete, class: "btn btn-danger" %>
            <% end %>
        </div>
    </div>
<% end %>

